# Backend
backend/target/
backend/.env
backend/src/.env
backend/*.txt
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts

# IDE
.idea/
.vscode/
*.iml

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
